html
  head
    title Url Shortener Application
    
  body
    div(class="container")
        h1 Url Shortener Application
        blockquote How it works
            ul I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
            ul When I visit that shortened URL, it will redirect me to my original link.
        
        h3 Example usage:
        code https://short-url-pkh1162.herokuapp.com/new/http://www.google.com
        br
        code https://short-url-pkh1162.herokuapp.com/a0
        
        h3 Example output
        code { "original_url":"http://www.google.com", "short_url": "a0" }     
        
        h3 Usage:
        code https://short-url-pkh1162.herokuapp.com/a0
        h3 Will redirect to:
        code htttp://www.google.com
        
        
        h3 Short Urls
        p To get all codes which have been generated, enter:
        code https://short-url-pkh1162.herokuapp.com/codes
    
    